{% extends 'core/base.html' %}

{% block title %}
  Cart
{% endblock %}

{% load static %}

{% block content %}
  <div class="tw-container tw-mx-auto tw-py-5">
    {% if UserCart %}
      <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 lg:tw-grid-cols-3 tw-gap-8">
        {% for item in UserCart %}
          <div class="tw-bg-white tw-shadow-md tw-rounded-lg tw-overflow-hidden tw-relative tw-h-full">
            <img class="tw-h-48 tw-w-full tw-object-cover" src="{% static item.item.photo_name %}" alt="{{ item.item.title }}">
            <div class="tw-p-4 tw-h-full">
              <h2 class="tw-text-lg tw-font-medium tw-text-gray-800 tw-mb-2">{{ item.item.title }}</h2>
              <p class="tw-text-gray-700 tw-text-base tw-mb-2">{{ item.item.summary }}</p>
              <p class="tw-text-gray-700 tw-text-base tw-mb-2" style="margin-bottom: 1rem;">Quantity: {{ item.quantity }}</p>
              <p class="tw-text-gray-700 tw-text-base tw-mb-2" style="margin-bottom: 1rem;">Price: ${{ item.item.price }}</p>
              <form method="POST" action="{% url 'browse' %}" class="tw-absolute tw-bottom-4 tw-left-4">
                {% csrf_token %}
                <button type="submit" class="tw-bg-red-500 tw-text-white tw-py-2 tw-px-4 tw-rounded hover:tw-bg-red-600">Remove from Cart</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="tw-mt-8 tw-flex tw-justify-end">
        <p class="tw-text-lg tw-font-medium tw-text-gray-800 tw-mr-4">Total: ${{ total }}</p>
        <!-- TODO: Update URL to checkout page -->
        <a href="{% url 'browse' %}" class="tw-bg-blue-500 tw-text-white tw-py-2 tw-px-4 tw-rounded hover:tw-bg-blue-600">Checkout</a>
      </div>
    {% else %}
      <p>Your cart is empty.</p>
    {% endif %}
  </div>
{% endblock %}