{% load static %}

<section>
  <div class="tw-relative tw-mx-auto tw-max-w-screen-xl tw-px-4 tw-py-8">
    <div class="tw-grid tw-grid-cols-1 tw-items-start tw-gap-8 md:tw-grid-cols-2">
      <div class="tw-grid tw-grid-cols-2 tw-gap-4 md:tw-grid-cols-1">
        <img alt="{{ obj.title }}" src="{{ obj.photo1.url }}" class="aspect-square tw-w-full tw-rounded-xl tw-object-cover" />

        <div class="tw-grid tw-grid-cols-2 tw-gap-4 lg:tw-mt-4">
          <img alt="{{ obj.title }}" src="{{ obj.photo2.url }}" class="aspect-square tw-w-full tw-rounded-xl tw-object-cover" />
          
          <img alt="{{ obj.title }}" src="{{ obj.photo3.url }}" class="aspect-square tw-w-full tw-rounded-xl tw-object-cover" />
        </div>
      </div>

      <div class="tw-sticky tw-top-0">
        {% if obj.is_preorder == True %}
        <strong class="tw-rounded-full tw-border tw-border-blue-600 tw-bg-gray-100 tw-px-3 tw-py-0.5 tw-text-xs tw-font-medium tw-tracking-wide tw-text-blue-600"> Pre Order </strong>
        {% endif %}
        <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ obj.id }}">
        <div class=" tw-flex tw-justify-between">
          <div class="max-w-[35ch] tw-space-y-2">
            <h1 class="tw-text-xl tw-font-bold sm:tw-text-2xl">{{ obj.title }}</h1>

            <p class="tw-text-sm">Highest Rated Product</p>

            <div class="-ms-0.5 tw-flex">
              <svg class="tw-h-5 tw-w-5 tw-text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>

              <svg class="tw-h-5 tw-w-5 tw-text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>

              <svg class="tw-h-5 tw-w-5 tw-text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>

              <svg class="tw-h-5 tw-w-5 tw-text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>

              <svg class="tw-h-5 tw-w-5 tw-text-gray-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
              </svg>
            </div>
          </div>

          <p class="tw-text-lg tw-font-bold">${{ obj.price }}</p>
        </div>

        <div class="tw-mt-4">
          <div class="tw-prose tw-max-w-none">
            <p>{{ obj.description }}</p>
          </div>
          <a href="{% url 'product' product_id=obj.id %}" class="tw-mt-2 tw-text-sm tw-font-medium tw-underline">Read More</a>
        </div>

        <div class="tw-mt-4">
          <fieldset>
            <legend class="tw-mb-1 tw-text-sm tw-font-medium">{{ form.attribute1.label }}</legend>
            <div class="tw-flex tw-flex-wrap tw-gap-1">
              {% for radio in form.attribute1 %}
                <label class="tw-cursor-pointer">
                  {{ radio.tag }}
                  <span class="tw-group tw-inline-block tw-rounded-full tw-border tw-px-3 tw-py-1 tw-text-xs tw-font-medium peer-checked:tw-bg-black peer-checked:tw-text-white">{{ radio.choice_label }}</span>
                </label>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <div class="tw-mt-8">
          <fieldset>
            <legend class="tw-mb-1 tw-text-sm tw-font-medium">{{ form.attribute2.label }}</legend>
            <div class="tw-flex tw-flex-wrap tw-gap-1">
              {% for radio in form.attribute2 %}
                <label class="tw-cursor-pointer">
                  {{ radio.tag }}
                  <span class="tw-group tw-inline-flex tw-h-8 tw-w-8 tw-items-center tw-justify-center tw-rounded-full tw-border tw-text-xs tw-font-medium peer-checked:tw-bg-black peer-checked:tw-text-white">{{ radio.choice_label }}</span>
                </label>
              {% endfor %}
            </div>
          </fieldset>
        </div>
        

          <div class="tw-mt-8 tw-flex tw-gap-4">
            <div>
              <label for="test_quantity" class="tw-sr-only">Qty</label>
              {{ form.quantity}}
            </div>
            <button type="submit" class="tw-block tw-rounded tw-px-5 tw-py-3 tw-text-xs tw-font-medium  tw-bg-teal-500 tw-text-white hover:tw-bg-teal-700">Add to Cart</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>